//INDEX

.footer {
    grid-area: footer;
    background-color: $amarillo;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height:150px
  }

// SOBRE NOSOTROS

.footerSobreNosotros {
    grid-area: footer;
    background-color: $amarillo;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 3rem;
    top: 1240px;
    flex-direction: column;
  }

  // EN ADOPCION

  .footerAdopcion {
    background-color: $amarillo;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 2rem;
    top: 24rem;
  }

  // DONACIONES

  .footer {
    grid-area: footer;
    background-color: $amarillo;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 2rem;
    height: 150px;
  }

  .footerAyudar {
    grid-area: footer;
    background-color: #ffd803;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5rem 0rem 5rem 2rem;
}