//INDEX

.footer {
  grid-area: footer;
  background-color: #ffd803;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  height: 150px;
  .icons {
      a {
        padding: 0.5rem;
      
    }
}
}

// SOBRE NOSOTROS

.footerSobreNosotros {
  grid-area: footer;
  background-color: #ffd803;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 150px;
  padding: 3rem;
  top: 1240px;
  .icons {
      a {
        padding: 0.5rem;
      
    }
}

  
}

// EN ADOPCION

.footerAdopcion {
  top: 24rem;
  background-color: #ffd803;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  height: 150px;
  .icons {
      a {
        padding: 0.5rem;
      
    }
}
}

// DONACIONES

.footer {
  grid-area: footer;
  background-color: #ffd803;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  height: 150px;

}

.footerAyudar {
  grid-area: footer;
  background-color: #ffd803;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  height: 150px;
  .icons {
      a {
        padding: 0.5rem;
      
    }
}}
