.header {
    font-weight: 500;
    font-size: 15px;
    z-index: 20;
    .navbar-brand {
        padding-left: 56px;
        img {
            width: 40px;
            height: 40.89px;
          }
    }
    .navbar-nav {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        align-items: flex-end;
      }

}