*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header {
    background-color: antiquewhite;
    height: 10vh;
    text-align: center;

    h1 {
        font-weight: 800;
        color: royalblue;
    }
}