.main-index {
    background-color: bisque;
    text-align: center;
    min-height: 50vh;

    .card {
        max-width: 350px;
        margin: 0 auto;
        h2 {
            font-family: 'Courier New', Courier, monospace;
        }
    }
}
@media (min-width:550px) {
    .main-index{
        flex-direction: row;
    .card{
        h2{
            background-color: palevioletred;
        }
    }
}
}