* {
  margin: 0% ;
  padding: 0;
  box-sizing: border-box !important;
  font-family:'Mulish', sans-serif;
}

h2 {
  @include estiloH2(54.18px);
}

h3 {
  font-weight: 700 !important ;
  font-size: 40px !important;
  line-height: 50px !important;
}

body {
  @extend %estiloPrincipal;
}

ul {
  list-style-type: none;
}

a {
  color: $negro !important;
  text-decoration: none !important;
}

.gridContainerIndex {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0px 803px 660px 660px 660px 100px;
  grid-template-areas:
    "header"
    "section1"
    "section2"
    "section3"
    "section4"
    "footer";
  .header {
    grid-area: header;
    background-color: $gris;
    position: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row;
    .logo {
      position: fixed;
      top: 0px;
      width: 49px;
      height: 49.48px;
      left: 3rem;
      margin-top: 15px;
      z-index: 3;
    }
  }
  .section1 {
    grid-area: section1;
    background-color: bisque;
    align-content: center;
    overflow-y: hidden;
    img {
      width: 100%;
      height: 820px;
      object-fit: cover;
      vertical-align: middle;
    }
    .fondoPrincipal {
      z-index: -1;
    }
     .tituloNegro {
      position: absolute;
      top: 346px;
      left: 56px;
      font-style: normal;
      font-weight: 600;
      font-size: 54px;
      line-height: 68px;
      align-items: center;
      color: black;
      z-index: 2;
      .tituloAmarillo {
        font-weight: 700;
        color: $amarillo;
      }
    }
    .botonDonar {
      position: fixed;
      width: 172px;
      height: 47px;
      right: 56px;
      top: 0%;
      margin-top: 24px;
      font-style: normal;
      font-weight: 600;
      font-size: 16.8px;
      padding: 12px 21.39px;
      background: $amarillo;
      border: 2px solid $amarillo;
      border-radius: 30px;
      z-index: 3;
      &hover {
        border: 2px solid $negro;
        transition: 0.3s;
      }
    }
  }
  .section2 {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "section2Text section2Img";
    grid-area: section2;
    align-content: center;
    overflow-y: hidden;
    align-items: center;
    .section2Img {
      grid-area: section2Img;
      background-color: $gris;
      img {
        width: 100%;
        height: 820px;
        object-fit: cover;
        vertical-align: middle;
      }
    }
    .section2Text {
      grid-area: section2Text;
      display: flex;
      flex-flow: column;
      flex-flow: column;
      height: 660px;
      align-items: flex-start;
      justify-content: center;
      .segundoHeader {
        position: relative;
        margin-left: 56px;
        font-style: normal;
        font-weight: 600;
        font-size: 54px;
        color: #000000;
        .tituloAmarillo {
            font-weight: 700;
            color: $amarillo;
          }
      }
      .botonesAdopcion {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        align-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        left: 56px;
        .botonGatito {
          display: flex;
          width: 152px;
          justify-content: center;
          align-items: center;
          background: $blanco;
          border: 3.38624px solid $amarillo;
          border-radius: 31.164px;
          margin: 0.5rem 0.5rem 0.5rem 0rem;
          &:hover{
            background-color: $amarillo;
            transition: 0.3s;
          }
          .iconoGatito {
            width: 53px;
            height: 53px;
            padding: 10px 5px 10px 0px;
          }
          .textoGatito {
            width: 62.05px;
            height: 25px;
            font-weight: 700;
            font-size: 20.3175px;
            text-align: center;
          }
        }
        .botonPerrito {
          display: flex;
          width: 150px;
          justify-content: center;
          align-items: center;
          background: $blanco;
          border: 3.38624px solid $amarillo;
          border-radius: 31.164px;
          margin: 0.5rem 0.5rem 0.5rem 0rem;
          &:hover {
            background-color: $amarillo;
            transition: 0.3s;
          }
          .iconoPerrito {
            width: 53px;
            height: 53px;
            padding: 10px 5px 10px 0px;
          }

          .textoPerrito {
            width: 62.05px;
            height: 25px;
            font-weight: 700;
            font-size: 20.3175px;
            text-align: center;
            margin: 0px 7px 0px 0px;
          }
        }
        .verTodos {
          height: 59.65px;
          font-weight: 700;
          font-size: 20.3175px;
          text-align: center;
          display: flex;
          width: 150px;
          justify-content: center;
          align-items: center;
          background: $blanco;
          border: 3.38624px solid $amarillo;
          border-radius: 31.164px;
          margin: 0.5rem 0.5rem 0.5rem 0rem;
          &:hover {
            background-color: $amarillo;
            transition: 0.3s;
          }
        }
      }
    }
  }
  .section3 {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "section3Img section3Text";
    grid-area: section3;
    align-content: center;
    overflow-y: hidden;
    .section3Img {
      grid-area: section3Img;
      background-color: $gris;
      img {
        width: 100%;
        height: 820px;
        object-fit: cover;
        vertical-align: middle;
      }
    }
    .section3Text {
      grid-area: section3Text;
      display: flex;
      flex-flow: column;
      align-items: flex-end;
      justify-content: center;
      .tercerHeader {
        font-weight: 600;
        font-size: 54.18px;
        line-height: 68px;
        text-align: right;
        margin-right: 56px;
        .tituloAmarillo {
            font-weight: 700;
            color: $amarillo;
          }
      }
      .botonDonarPatita {
        width: 212px;
        height: 58px;
        padding: 12.46px 24.39px;
        font-weight: 700;
        font-size: 16.93px;
        text-align: center;
        border: 3.386px solid $amarillo;
        border-radius: 47.164px;
        margin-right: 56px;
        background: $blanco;
        &:hover {
          background-color: $amarillo;
          transition: 0.3s;
        }
      }
    }
  }
  .section4 {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "section4Text section4Img";
    grid-area: section4;
    align-content: center;
    overflow-y: hidden;
    align-items: center;
    .section4Img {
      grid-area: section4Img;
      background-color: $gris;
      img {
        width: 100%;
        height: 820px;
        object-fit: cover;
        vertical-align: middle;
      }
    }
    .section4Text {
      grid-area: section4Text;
      display: flex;
      flex-flow: column;
      flex-flow: column;
      height: 660px;
      align-items: flex-start;
      justify-content: center;
      left: 56px;
      .cuartoHeader {
        position: relative;
        margin-left: 56px;
        .tituloAmarillo {
            font-weight: 700;
            color: $amarillo;
          }
      }
    }
  }
}


