@media (max-width: 1000px) {
  .gridContainerDonaciones {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 100px 1072px 100px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header"
      "donation"
      "footer";
    .donation {
      display: grid;
      grid-template-columns: 100vw;
      grid-template-rows: 1fr;
      grid-template-areas: "text" "information";
      grid-area: donation;
      align-items: center;
      justify-items: center;
      .textDonaciones {
        text-align: center;
        grid-area: text;
        display: flex;
        height: 558px;
        flex-flow: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 65px;
      }
      .information {
        grid-area: information;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 35px;
        margin: 0px 30px 30px 30px;
        width: 472px;
        background: $blanco;
        height: 478px;
        align-items: center;
        border: 3px dashed $amarillo;
        border-radius: 30px;
      }
    }
    .footer {
      grid-area: footer;
      background-color: $amarillo;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 2rem;
    }
  }
  .footer {
    grid-area: footer;
    background-color: $amarillo;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 2rem;
  }
  .gridContainerAyudar {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 100px 830px 100px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header"
      "ayudar"
      "footer";
    .ayudar {
      display: grid;
      grid-template-columns: 100vw;
      grid-template-rows: 1fr;
      gap: 0px 0px;
      grid-template-areas: "text" "formulario";
      grid-area: ayudar;
      justify-items: center;
      align-items: center;
    }
  }
  .gridContainerContacto {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 100px 913px 100px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header"
      "contacto"
      "footer";
    .contacto {
      display: grid;
      grid-template-columns: 100vw;
      grid-template-rows: 1fr;
      gap: 0px 0px;
      grid-template-areas: "text" "form";
      grid-area: contacto;
      justify-items: center;
      align-items: center;
      .textContacto {
        text-align: center;
        grid-area: text;
        display: flex;
        height: 358px;
        flex-flow: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 30px;
      }
    }
  }
  .navbar-brand {
    padding-left: 2rem;
  }
}

@media (max-width: 768px) {
  .donation {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 1fr;
    grid-template-areas: "text" "information";
    grid-area: donation;
    align-items: center;
    justify-items: center;
  }
  .gridContainerIndex {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 0px 820px 820px 820px 820px 100px;
    grid-template-areas:
      "header"
      "section1"
      "section2"
      "section3"
      "section4"
      "footer";
    .section1 {
      .tituloNegro {
        color: $blanco;
        left: 2rem;
        right: 2rem;
      }
    }
    .section2 {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      gap: 0px 0px;
      grid-template-areas: "section2";
      align-content: center;
      overflow-y: hidden;
      .section2Img img {
        width: 100%;
        height: 920px;
        object-fit: cover;
        vertical-align: middle;
      }
      .section2Text {
        grid-area: section2Text;
        display: flex;
        flex-flow: column;
        height: 660px;
        align-items: flex-start;
        justify-content: flex-end;
        .segundoHeader {
          color: $blanco;
          left: -2rem;
          right: 2rem;
        }
        .botonesAdopcion {
          left: 2rem;
          right: 2rem;
        }
      }
    }
    .section3 {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      gap: 0px 0px;
      grid-template-areas: "section3";
      align-content: center;
      overflow-y: hidden;
      .section3Img img {
        width: 100%;
        height: 920px;
        object-fit: cover;
        vertical-align: middle;
      }
      .section3Text {
        grid-area: section3Text;
        display: flex;
        position: relative;
        flex-flow: column;
        top: 221px;
        align-items: flex-end;
        justify-content: center;
        .tercerHeader {
          color: $blanco;
          margin-right: 2rem;
          margin-left: 2rem;
        }
        .botonDonarPatita {
          margin-left: 2rem;
          margin-right: 2rem;
        }
      }
    }
    .section4 {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      gap: 0px 0px;
      grid-template-areas: "section4";
      align-content: center;
      overflow-y: hidden;
      .section4Img img {
        width: 100%;
        height: 920px;
        object-fit: cover;
        vertical-align: middle;
      }
      .section4Text {
        grid-area: section4Text;
        display: flex;
        flex-flow: column;
        flex-flow: column;
        height: 660px;
        align-items: flex-start;
        justify-content: flex-end;
        left: 56px;
        .cuartoHeader {
          color: $blanco;
          left: -2rem;
          right: 2rem;
        }
      }
    }
    .footer {
      grid-area: footer;
      background-color: $amarillo;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding-top: 5rem;
      padding-bottom: 4rem;
    }
  }
}

@media (max-width: 700px) {
  .gridContainerDonaciones {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100px 1215px 100px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header"
      "donation"
      "footer";
    .header {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      align-content: space-around;
      .logo {
        position: fixed;
        top: 7px;
        width: 80px;
        height: 80.47999999999999px;
        left: 234px;
        margin-top: 16px;
        z-index: 3;
      }
    }
    .donation {
      .textDonaciones {
        text-align: center;
        grid-area: text;
        display: flex;
        height: 705px;
        width: 529px;
        flex-flow: column;
        align-items: center;
        justify-content: space-between;
        padding: 62px;
        .parrafoDonaciones {
          font-size: 20px;
        }
        .parrafoRecibimos {
          font-size: 20px;
        }
        .information {
          grid-area: information;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          padding: 35px;
          margin: 0px 30px 30px 30px;
          width: 472px;
          background: $blanco;
          height: 478px;
          align-items: center;
          border: 3px dashed $amarillo;
          border-radius: 30px;
        }
      }
    }
  }
  .gridContainerAyudar {
    .ayudar {
      .textFormaParte {
        display: flex;
        grid-area: text;
        flex-flow: column;
        height: 423px;
        flex-direction: column;
        align-items: center;
        width: auto;
        padding: 40px;
        text-align: center;
        justify-content: space-around;
      }
      .formulario {
        grid-area: formulario;
        display: flex;
        align-items: stretch;
        justify-content: space-around;
        flex-wrap: nowrap;
        width: auto;
        flex-direction: column;
      }
    }
  }
  .gridContainerDonaciones {
    .donation {
      .textDonaciones {
        text-align: center;
        grid-area: text;
        display: flex;
        height: 705px;
        width: auto;
        flex-flow: column;
        align-items: center;
        justify-content: space-between;
        padding: 62px;
      }
      .information {
        grid-area: information;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 35px;
        margin: 0px 30px 30px 30px;
        width: auto;
        background: white;
        height: 478px;
        align-items: center;
        border: 3px dashed #ffd803;
        border-radius: 30px;
      }
    }
  }
  .gridContainerContacto {
    .contacto {
      .textContacto {
        text-align: center;
        grid-area: text;
        display: flex;
        height: 358px;
        flex-flow: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 30px;
        width: auto;
      }
      div {
        .form {
          grid-area: form;
          display: flex;
          flex-flow: column;
          justify-content: space-around;
          align-items: stretch;
          padding: 0rem 0rem 2rem 0rem;
          width: auto;
        }
      }
    }
  }
}
